@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loading-spinner {
	animation: spinner 1.5s linear infinite;
	border: 10px solid #f3f3f3;
	border-top: 10px solid #383636;
	opacity: 0;

	&.active {
		opacity: 1;
	}
}
